<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"  id="header">
      <h1>
        Address Validator
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3" id="form">
      <%= bootstrap_form_for(@address) do |f| %>
      <% if @address.errors.any? %>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
        <%= f.text_field :street_address, required: true %>
        <div class="input-group">
          <%= f.text_field :city, required: true %>
          <%= f.select :state, STATES, required: true %>
          <%= f.text_field :zip_code, required: true %>
        </div>
        <%= f.submit "Validate Address" %>
      <% end %>
    </div>
  </div>
</div>
